[Desktop Entry]
Encoding=UTF-8
Name=Gobby Collaborative Editor
Name[de]=Gobby-Gemeinschaftseditor
Comment=Edit text files collaboratively
Comment[de]=Gemeinschaftliches Editieren von Textdateien
Exec=gobby
Terminal=false
Type=Application
Icon=gobby.png
Categories=Application;TextEditor;Network;
StartupNotify=true
MimeType=text/plain;
