Makefile.in
configure
*.o
INSTALL
Makefile
aclocal.m4
config.guess
config.sub
config.log
config.status
install-sh
missing
mkinstalldirs
depcomp
gobby-0.5
autom4te.cache
.deps
compile
prjwc
prjtodo
intltool-extract.in
intltool-merge.in
intltool-update.in
gobby-0.5.desktop
*.gschema.xml
*.gschema.valid
.dirstamp
