aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps
.dirstamp
gobby-0.5
gobby-0.5.desktop
gobby.iss
*.gschema.valid
*.gschema.xml
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
Makefile
Makefile.in
missing
mkinstalldirs
*.o
prjtodo
prjwc
