name: Linux build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "5 4 * * 0"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    steps:
      - name: "libinfinity: Check out repository"
        uses: actions/checkout@v4
        with:
          repository: gobby/libinfinity
          path: libinfinity

      - name: "gobby: Check out repository"
        uses: actions/checkout@v4
        with:
          path: gobby

      - name: "Update package lists"
        run: |
          sudo apt-get update

      - name: "libinfinity: Install required packages"
        run: |
          sudo apt-get install -y gtk-doc-tools yelp-tools libgnutls28-dev libgsasl7-dev libxml2-dev libglib2.0-dev libgtk-3-dev libavahi-client-dev libdaemon-dev libpam-dev gobject-introspection libexpat1-dev zlib1g-dev

      - name: "libinfinity: Generate autotools build files and run configure"
        run: |
          cd "$GITHUB_WORKSPACE"/libinfinity
          ./autogen.sh --with-gtk3 --with-infgtk --with-inftextgtk --with-avahi --with-libdaemon --disable-gtk-doc

      - name: "libinfinity: Run the build"
        run: |
          cd "$GITHUB_WORKSPACE"/libinfinity
          make -j3

      - name: "libinfinity: Install the result"
        run: |
          cd "$GITHUB_WORKSPACE"/libinfinity
          sudo make install

      - name: "gobby: Install required packages"
        run: |
          sudo apt-get install -y meson libsigc++-2.0-dev libxml++2.6-dev libglibmm-2.4-dev libgtkmm-3.0-dev libgtksourceview-4-dev libgsasl7-dev libsecret-1-dev gettext yelp-tools desktop-file-utils appstream-util

      - name: "gobby: Run meson"
        run: |
          cd "$GITHUB_WORKSPACE"/gobby
          meson setup build

      - name: "gobby: Run the build"
        run: |
          cd "$GITHUB_WORKSPACE"/gobby
          meson compile -C build --verbose

      - name: "gobby: Run tests"
        run: |
          cd "$GITHUB_WORKSPACE"/gobby
          ninja -C build test

      - name: "gobby: Install the result"
        run: |
          cd "$GITHUB_WORKSPACE"/gobby/build
          sudo meson install
